@model Web.ViewModels.Users.UserVM
@inject Common.Repositories.BaseRepository<User> UsersRepo
@inject Common.Repositories.BaseRepository<Role> RolesRepo
@inject Common.Repositories.BaseRepository<Book> BooksRepo
@inject Common.Repositories.BaseRepository<Category> CategoriesRepo
@inject Common.Repositories.BaseRepository<BookCategory> BookCategoryRepo
@inject Common.Repositories.BaseRepository<Loan> LoansRepo
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Admin Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/user/admin.css" asp-append-version="true" />
}

<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="dashboard-sidebar">
        <h4>Admin Dashboard</h4>
        @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserRole") == 1)
        {
            <a href="/Auth/UserList" class="sidebar-btn">Manage Users</a>
        }
        <a href="/Tag/Index" class="sidebar-btn">Manage Tags</a>
        <a href="/Category/Index" class="sidebar-btn">Manage Categories</a>
        <a href="/Publisher/Index" class="sidebar-btn">Manage Publishers</a>
        <a href="/Author/Index" class="sidebar-btn">Manage Authors</a>
        <a href="/Book/Index" class="sidebar-btn">Manage Books</a>
        <a href="/Loan/Index" class="sidebar-btn">Manage Loans</a>
    </div>

    <!-- Content -->
    <div class="dashboard-content">
        <div class="content-header">
            <h2>Welcome to the Admin Panel</h2>
            <p>Manage the platform effectively using the menu on the left. Here's a quick overview:</p>
        </div>

        <!-- Summary Cards -->
        <div class="summary-cards">
            <div class="summary-card">
                <h3>Total Users</h3>
                <p class="count">@UsersRepo.GetAll().Count</p>
            </div>
            <div class="summary-card">
                <h3>Total Books</h3>
                <p class="count">@BooksRepo.GetAll().Count</p>
            </div>
            <div class="summary-card">
                <h3>Active Loans</h3>
                <p class="count">@LoansRepo.GetAll().Where(l => l.ReturnDate == null).Count()</p>
            </div>
        </div>

        <!-- Books by Category -->
        <div class="books-category">
            <h3>Books by Category:</h3>
            <ul>
                @foreach (var cat in CategoriesRepo.GetAll())
                {
                    var booksCount = BookCategoryRepo.GetAll()
                    .Where(bc => bc.CategoryId == cat.Id)
                    .Select(bc => bc.BookId).Count();

                    <li><strong>@cat.Name:</strong> @booksCount</li>
                }
            </ul>
        </div>
    </div>
</div>

