@model Web.ViewModels.Tags.EditTagVM
@inject Common.Repositories.BaseRepository<Category> CategoryRepo

@{
    ViewData["Title"] = "Add New Tag";
}

<h2>Edit Tag</h2>

@if (TempData["Error"] != null)
{
    <p class="text-danger">@TempData["Error"]</p>
}

@if (TempData["Success"] != null)
{
    <p class="text-success">@TempData["Success"]</p>
}

<form action="../Tag/EditTag" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="role">Category</label>
        <select id="category" name="category" class="form-control">
            @foreach (var category in CategoryRepo.GetAll())
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
