@model Web.ViewModels.Publishers.EditPublisherVM

<h1>Edit Publisher</h1>

@if (TempData["Error"] != null)
{
    <p class="text-danger">@TempData["Error"]</p>
}

@if (TempData["Success"] != null)
{
    <p class="text-success">@TempData["Success"]</p>
}

<form asp-action="EditPublisher" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model.Id" />
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="@Model.Name" class="form-control" required />
        <label for="name">Address</label>
        <input type="text" id="address" name="address" value="@Model.Address" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
